services:
  - type: web
    name: ecoroute-backend
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: ./start.sh
    autoDeploy: true
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
